[submodule "understanding_the_case_statement"]
	path = understanding_the_case_statement
	url = https://gist.github.com/dcoleman21/9f844f1eb1325398eb1c34ecfdbc9e48
[submodule "understanding_ternary_conditional_expression"]
	path = understanding_ternary_conditional_expression
	url = https://gist.github.com/dcoleman21/d56c6c929d729a4527be2c4b797fb680
[submodule "creating_user_input"]
	path = creating_user_input
	url = https://gist.github.com/dcoleman21/d059c487574719e41bba09b3059f4add
[submodule "conditional_assignment"]
	path = conditional_assignment
	url = https://gist.github.com/dcoleman21/ea481ce02a84f70c9559d50815907433
[submodule "refactoring_examples"]
	path = refactoring_examples
	url = https://gist.github.com/dcoleman21/4629a7d367ebca1c029995d8a067dbe2
